

.tdb__subdocument__collapse_headers{
    background: none !important;
    padding: 0 !important;
    max-height: 20px;
}

.tdb__subdocument__collapse_headers > span {
    color: #f9d891 !important;
}

.tdb__input > input, .tdb__input > select{
    color: #adb5bd !important;
    background-color: transparent !important;
    border-color: rgb(102, 102, 102) !important;
    line-height: 1.5;
}

.required {
    font-size: 20px;
    color: #ffc107!important;
    margin-left: 10px !important;
}

div.array-item {
    display: flex !important;
}

div.array-item > div {
    width: 100% !important;
}

.tdb__array__item__list {
    height: 60px !important;
    margin-top: 30px !important;
}

div.array-item > div.array-item-toolbox {
    margin-left: 20px !important;
}

.array-item-remove{
    color: #e74c3c !important;
    background-color: transparent !important;
    border-color: transparent !important;
}


i.glyphicon-chevron-right::after {
    content: 'Expand';
    float: right;
    font-style: normal;
    color: #ccc;
    font-size: 15px;
}

i.glyphicon-chevron-down::after {
    content: 'Collapse';
    float: right;
    font-style: normal;
    color: #ccc;
    font-size: 15px;
}